<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebm.historialenfermedades">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_informe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_informe_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HistorialEnfermedades">
        <activity
            android:name=".Vista.RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".Vista.ListadoActivity"
            android:exported="true" />
        <activity
            android:name=".Vista.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>